<br>
<br>
<div class="container" style="text-align: right;">
    <button mat-raised-button color="primary" (click)="toggleNewItemEvent()">Add New Item</button>
</div>

<div class="container">
    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <mat-form-field>
        <mat-label>Search for an item</mat-label>
        <input matInput [(ngModel)]="filter" (keyup)="doFilter($event.target.value)" placeholder="Ex. Hand Salve" #input />
    </mat-form-field>
    <div class="mat-elevation-z8">

        <table mat-table [dataSource]="dataSource" matSort matSortActive="itemName" matSortDisableClear
            matSortDirection="asc">
            <ng-container matColumnDef="itemId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.itemId}} </td>
            </ng-container>

            <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.itemName}} - {{row.variant}} {{row.size}} </td>
            </ng-container>

            <ng-container matColumnDef="itemCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let row"> {{row.itemCategory}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
            </ng-container>

            <ng-container matColumnDef="stocksLeft">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stocks Left </th>
                <td mat-cell *matCellDef="let row"> {{row.stocksLeft}} </td>
            </ng-container>

            <ng-container matColumnDef="dealersDiscount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dealer's Discount (in %) </th>
                <td mat-cell *matCellDef="let row"> {{row.dealersDiscount}} </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warn" (click)="redirectToDelete(row)">
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="getRecord(row)"></tr>
        </table>
    </div>
    <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 25, 100]"></mat-paginator>
</div>