<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Home">
    <ng-template matTabContent>
      <app-home></app-home>
    </ng-template>
  </mat-tab>
  <mat-tab label="Oversee Inventory">
    <ng-template matTabContent>
      <app-inventory-test></app-inventory-test>
    </ng-template>
  </mat-tab>
  <mat-tab label="Manage Orders">
    <ng-template matTabContent>
      <app-orders></app-orders>
    </ng-template>
  </mat-tab>
  <mat-tab label="View Reports">
    <ng-template matTabContent>
      <app-reports></app-reports>
    </ng-template>
  </mat-tab>
</mat-tab-group>
