table {
    width: 100%;
  }
    
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
    
  td, th {
    width: 25%;
  }
  
  .mat-column-itemId, .mat-column-price, .mat-column-stocksLeft, .mat-column-size, .mat-column-itemCategory{
    width: 10% !important;
  }

  .mat-column-itemName{
    width: 40%;
  }


  .mat-column-dealersDiscount, .mat-column-variant{
    width: 15% !important;
  }
  